/*****  
Elementos reutilizables (colores, tipografías…)
Comentarios generales...
 
*****/ 
 
 
/*****  TEST
 
* { outline: 1px solid orange; } 
 
img[alt=''] { outline: 6px dashed orange; }
img:not([alt]) { outline: 6px dashed red; } 
 
*****/
 
 
/*****  ESTRUCTURA *****/
 
* { box-sizing: border-box; }
 
 
 
/*****  TIPOGRAFIA *****/
 
html { font-size: 10px; }
 
h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

div{
    font-size: 2rem;
}
/*****  ESTETICA *****/
.content{
    max-width: 40vw;
} 
body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-top: 2rem;

}
 
/*****  MEDIA QUERIES *****/
 
 
 